<div class="readme file wiki-content">
              
<h1 id="markdown-header-issuetracker">issueTracker</h1>
<p>Angular Web Client Application for issueTracker</p>
<hr>
<h3 id="markdown-header-table-of-contents">Table of contents</h3>
<div class="toc">
<ul>
<li><a href="#/about#markdown-header-issuetracker">issueTracker</a><ul>
<li><a href="#/about#markdown-header-table-of-contents">Table of contents</a></li>
<li><a href="#/about#markdown-header-requirements">Requirements</a></li>
<li><a href="#/about#markdown-header-setup-locally">Setup  locally</a><ul>
<li><a href="#/about#markdown-header-clone-project">Clone project</a></li>
<li><a href="#/about#markdown-header-install-dependencies">Install dependencies</a></li>
<li><a href="#/about#markdown-header-install-grunt">Install Grunt</a></li>
<li><a href="#/about#markdown-header-install-bower">Install Bower</a></li>
<li><a href="#/about#markdown-header-install-required-plugins">Install required plugins</a></li>
<li><a href="#/about#markdown-header-configure">Configure</a></li>
<li><a href="#/about#markdown-header-launch">Launch</a></li>
<li><a href="#/about#markdown-header-build-development">Build &amp; development</a></li>
<li><a href="#/about#markdown-header-testing">Testing</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<h2 id="markdown-header-requirements">Requirements</h2>
<blockquote>
<ul>
<li><a href="https://github.com/angular/angular.js" target="_blank">Angular 1.4.0</a></li>
<li><a href="http://getbootstrap.com/" target="_blank">Bootstrap 3.2.0</a></li>
<li><a href="https://github.com/marcorinck/angular-growl" target="_blank">growl 0.4.0</a></li>
<li><a href="http://mgcrea.github.io/angular-strap/" target="_blank">Angular Strap 2.3.1</a></li>
<li><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome 4.2.0</a></li>
<li><a href="https://github.com/angular-ui/ui-grid" target="_blank">UI-Grid 3.0.7</a></li>
<li><a href="https://github.com/stevermeister/ngWig" target="_blank">ngWig 2.2.1</a></li>
<li><a href="http://jtblin.github.io/angular-chart.js/" target="_blank">Angular Chart 0.8.5</a></li>
</ul>
</blockquote>
<h2 id="markdown-header-setup-locally">Setup  locally</h2>
<p>If you want to run locally follow steps.</p>
<blockquote>
<p><strong>Requirements:</strong></p>
<ul>
<li>Git</li>
<li>Node.js versions &gt;= 0.8.0</li>
<li>Grunt</li>
<li>Bower</li>
</ul>
</blockquote>
<h4 id="markdown-header-clone-project">Clone project</h4>
<div class="codehilite"><pre>git clone git@https://tanja_brzak@bitbucket.org/tanja_brzak/issuetracker.git
</pre></div>


<h4 id="markdown-header-install-dependencies">Install dependencies</h4>
<div class="codehilite"><pre>npm install
</pre></div>


<h4 id="markdown-header-install-grunt">Install Grunt</h4>
<div class="codehilite"><pre>npm install -g grunt-cli
</pre></div>


<h4 id="markdown-header-install-bower">Install Bower</h4>
<div class="codehilite"><pre>npm install -g bower
</pre></div>


<h4 id="markdown-header-install-required-plugins">Install required plugins</h4>
<div class="codehilite"><pre>bower install
</pre></div>


<hr>
<h4 id="markdown-header-configure">Configure</h4>
<div class="codehilite"><pre>Copy secret_example.json to secret.json and configure
</pre></div>


<hr>
<h4 id="markdown-header-launch">Launch</h4>
<div class="codehilite"><pre>grunt serve
</pre></div>


<h4 id="markdown-header-build-development">Build &amp; development</h4>
<div class="codehilite"><pre>Run `grunt` for building and `grunt serve` for preview.
</pre></div>


<h4 id="markdown-header-testing">Testing</h4>
<div class="codehilite"><pre>Running `grunt test` will run the unit tests with karma.
</pre></div>


<hr>
<p>This project is generated with <a href="https://github.com/yeoman/generator-angular">yo angular generator</a>
version 0.14.0.</p>
</div>